name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/webhookapi:latest
      DOCKER_DIR: WebhookApi
      REMOTE_HOST: ${{ vars.TAILSCALE_HOST }} # e.g. username@hostname.tailnet-name.ts.net

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Inject appsettings.Production.json from secret
        run: |
          cat <<EOF > $DOCKER_DIR/appsettings.Production.json
          ${{ secrets.APPSETTINGS_PROD_JSON }}
          EOF

      - name: Validate JSON format
        run: |
          jq . $DOCKER_DIR/appsettings.Production.json > /dev/null

      - name: Configure AWS credentials (create shared profile 'config-manager')
        run: |
          mkdir -p ~/.aws
          cat > ~/.aws/credentials <<'EOF'
          [config-manager]
          aws_access_key_id = $AWS_ACCESS_KEY_ID
          aws_secret_access_key = $AWS_SECRET_ACCESS_KEY
          EOF
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Configure AWS config (create profile 'config-manager')
        run: |
          cat > ~/.aws/config <<'EOF'
          [profile config-manager]
          region = ap-southeast-2
          output = json
          EOF

      - name: Build and push Docker image
        run: |
          docker build -t $DOCKER_IMAGE -f $DOCKER_DIR/Dockerfile $DOCKER_DIR
          docker push $DOCKER_IMAGE

      - name: Start Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          tags: tag:ci

      - name: Wait for Tailscale to connect
        run: |
          echo "Tailscale status:"
          tailscale status

      ## Allow passwordless sudo for the GitHub Action user (recommended for CI/CD)
      # sudo visudo
      # your-username ALL=(ALL) NOPASSWD:ALL

      - name: Debug image name
        run: |
          echo "Image to deploy: $DOCKER_IMAGE"

      - name: Deploy via SSH
        run: |
          ssh -o StrictHostKeyChecking=no $REMOTE_HOST "mkdir -p ~/WebhookApi/WebhookApi"
          scp -o StrictHostKeyChecking=no $DOCKER_DIR/docker-compose-production.yml $REMOTE_HOST:~/WebhookApi/WebhookApi/docker-compose.yml
          ssh -o StrictHostKeyChecking=no $REMOTE_HOST << EOF
            set -ex
            sudo docker pull $DOCKER_IMAGE
            cd ~/WebhookApi/WebhookApi
            sudo docker compose down
            sudo docker compose up -d
            sudo docker system prune -f -f
          EOF
